%head
  %title
    - if @title
      = @title
      == -
    - if Rails.env != 'production'
      = Rails.env.titleize
      |
    = t 'company.name'

  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
  %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/


  = yield :head

  = csrf_meta_tags
